div .logo {
  padding: 10px 10px;
  width: 150px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 2;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav a {
  padding: 1em;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  text-decoration: underline;
  color: #0065fc;
}

@media all and (max-width: 768px) {
  .menu {
    flex-direction: column;
  }
}
