@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

html {
  --main-bg-color: #FFFFF;
  --grey: #f2f2f2;
  --lien: #0065fc;
  --lien-clair: #deebff;
}

body {
  margin: 0px;
}

.container {
  max-width: 1400px;
  background: var(--main-bg-color);
  font-family: "Raleway", sans-serif;
  margin-left: 55px;
}

h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.recherche-form {
  display: flex;
  margin-top: 20px;
  margin-bottom: 32px;
}

.lien {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  /* Blue */

  color: #0065fc;
}

.button {
  background-color: #0065fc;
  border-radius: 0px 12px 12px 0px;
  border: 0px;
  width: 132px;
  height: 49px;
  text-align: center;
  color: white;
}

.recherche {
  border: 0px;

  height: 49px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.icone-recherche {
  display: flex;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  width: 50px;
  height: 49px;
}

.icone-recherche > i {
  margin: auto;
}

.filter {
  display: flex;
  align-items: center;
  width: 100%;
}

.h4-filter {
  font-size: 18px;
  line-height: 21px;
}

.buttons-filter-group {
  display: flex;
}

.filter-button {
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  background-color: white;
  color: black;
  line-height: 20px;
  font-size: auto;
  padding: 0 20px 0 20px;
  max-width: 226px;
  height: 50px;
  margin: 0 5px 0 5px;
}

.filter-button:hover {
  background-color: #deebff;
}

.filter-button .fa-heart,
.fa-dog,
.fa-person,
.fa-money-bill-wave,
.fa-chart-line {
  color: #0065fc;
}

.fa-info {
  color: #0065fc;
}

.info {
  display: flex;
  align-items: center;
}

.info-span {
  justify-content: center;
  align-content: center;
  width: 24px;
  height: 24px;
  background-color: white;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
}

footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer div h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

footer div a {
  text-decoration: none;
  color: #000000;
}

@media all and (max-width: 992px) {
  .container {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .filter {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .buttons-filter-group {
    display: flex;
  }
}

@media all and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .sous-titre {
    text-align: center;
  }

  .recherche-form {
    width: 100%;
    justify-content: center;
  }

  .filter {
    justify-content: center;
    flex-direction: column;
  }

  .h4-filter {
    width: 90%;
    text-align: left;
  }

  .buttons-filter-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .filter-button {
    height: 50px;
    margin-bottom: 10px;
    width: 40%;
  }

  .info {
    display: flex;

    margin-left: 10px;
  }

  .info-span {
    margin-right: 10px;
  }

  footer div {
    width: 100%;
    text-align: left;
    padding-left: 33px;
  }
}
